In [26]:
import pandas as pd
import os
import csv
import re
%config Completer.use_jedi = False

filepath = "Resources/purchase_data.csv"

myreader = pd.read_csv(filepath)

print (myreader.head(5))

   Purchase ID             SN  Age Gender  Item ID  \
0            0        Lisim78   20   Male      108
1            1    Lisovynya38   40   Male      143
2            2     Ithergue48   24   Male       92
3            3  Chamassasya86   24   Male      100
4            4      Iskosia90   23   Male      131

                                   Item Name  Price
0  Extraction, Quickblade Of Trembling Hands   3.53
1                          Frenzied Scimitar   1.56
2                               Final Critic   4.88
3                                Blindscythe   3.27
4                                       Fury   1.44

# Player Count
- Total Number of Players = total_players

In [27]:
# Calulates the total amount of uniqe players by removing the duplicates in the "SN" column
total_rows = len(myreader) # lets me know how long the original is so I can compare it to others (ex, duplicates)
total_count_players = myreader.drop_duplicates('SN', keep='last')
total_count_players # this is a list 
total_players = len(total_count_players)
total_players #this is the length of that list represented as a #.  see output
df_total_players=pd.DataFrame({'Total Players': [total_players]})
df_total_players

   Total Players
0            576

# Purchasing Analysis
- Number of Unique Items

- Average Purchase Price

- Total Number of Purchases

- Total Revenue

In [28]:
# Number of unique items is calculated by removing the duplicates in the "Item ID" column then getting length
total_count_item_id = myreader.drop_duplicates('Item ID', keep='last')
total_count_item_id # this is a list
total_unique_items = len(total_count_item_id)
total_unique_items #this is the length of that list represented as a #.  see output.

179

In [29]:
# Average purchase price is calculated by getting the avg of the Price column of the original dataset
average_purchase_price = myreader["Price"].mean()
average_purchase_price
print ("{:.2f}".format(average_purchase_price))

3.05

In [30]:
# Total Number of Purchases is calculated by getting the lenght of [Price] of my original dataset
total_count_purchases = len(myreader["Price"])
total_count_purchases

780

In [31]:
# Total revenue is calculated by summing row "Price"
total_revenue = myreader["Price"].sum() 
total_revenue

2379.77

In [32]:
df_purchase_analysis_summary = pd.DataFrame({'Total Unique Items': [total_unique_items], 
                            'Avg. Purchase Price': [average_purchase_price],
                            'Number of Purchases' : [total_count_purchases],
                            'Total Revenue' : [total_revenue]})
df_purchase_analysis_summary = df_purchase_analysis_summary.style.format({'Avg. Purchase Price':'${:,.2f}',
                                                                         'Total Revenue' : '${:,.2f}'
                                                                         })

df_purchase_analysis_summary

# Gender Demographics
-Percentage and Count of Males

-Percentage and Count of Females

-Percentage and Count of Others

In [33]:
# Calculates the total count of males in my dataset.  This was done after I removed all of the duplicate SN.
## total_count_players is a list of all the unique players.  See Player Count header 
total_count_players.loc[(total_count_players['Gender'] == 'Male')]
filtered_males = total_count_players.loc[(total_count_players['Gender'] == 'Male')] 
# print (filtered_males) #this is list 
total_males = len(filtered_males)
total_males #this is the length of that list represented as a #.  
percentage_males = (total_males/total_players)*100
percentage_males
print ("{:.2f}".format(percentage_males))

84.03

In [34]:
total_count_players.loc[total_count_players['Gender'] == 'Female']
filtered_females = total_count_players.loc[myreader['Gender'] == 'Female']
# print (filtered_females)
total_females = len(filtered_females)
total_females
percentage_females = (total_females/total_players)*100
percentage_females
print ("{:.2f}".format(percentage_females))

14.06

In [41]:
total_count_players.loc[~total_count_players['Gender'].str.contains('Male|Female', regex=True)]
filtered_others = total_count_players.loc[~total_count_players['Gender'].str.contains('Male|Female', regex=True)]
# print (filtered_other)
total_others = len(filtered_others)
total_others
percentage_other = (total_other/total_players)*100
percentage_other
print ("{:.2f}".format(percentage_other))

1.91

# Purchase Analysis (Gender)
- Purchase Count Male and Female
- Average Purchase Price Male and Female
- Total Purchase Value
- Average Purchase Total per Person by Gender

#### Purchase Count

In [42]:
# Total count of males that made a purchase based on filtered data (no duplicates)
total_males

484

In [43]:
# Total count of females that made a purchase based on filtered data (no duplicates)
total_females

81

In [44]:
# Total count of others that made a purchase based on filtered data (no duplicates)
total_others

11

#### Average Purchase Price

In [45]:
average_male_purchase_price = filtered_males["Price"].mean()
average_male_purchase_price

2.97603305785124

In [46]:
average_female_purchase_price = filtered_females["Price"].mean()
average_female_purchase_price

3.251358024691359

In [49]:
average_other_purchase_price = filtered_others["Price"].mean()
average_other_purchase_price

3.286363636363637

In [73]:
# Total purchase value made by gender including multi SN.  All calcs based on original dataset.
myreader_males = myreader.loc[(myreader['Gender'] == 'Male')]
myreader_males

total_purchase_males = myreader_males["Price"].sum()
total_purchase_males

1967.64

In [72]:
myreader_females = myreader.loc[(myreader['Gender'] == 'Female')]
myreader_females

total_purchase_females = myreader_females["Price"].sum()
total_purchase_females

361.94

In [71]:
myreader_others = myreader.loc[~myreader['Gender'].str.contains('Male|Female', regex=True)]
myreader_others

total_purchase_others = myreader_others["Price"].sum()
total_purchase_others

50.19

##### Average Purchase Totals

In [67]:
myreader_males_average_price = total_purchase_males / len(filtered_males)
myreader_males_average_price

4.065371900826446

In [68]:
myreader_females_average_price = total_purchase_females / len(filtered_females)
myreader_females_average_price

4.468395061728395

In [69]:
myreader_others_average_price = total_purchase_others / len(filtered_others)
myreader_others_average_price

4.5627272727272725

##### Summary Data Frame

In [70]:
df_purchasing_analysis_by_gender=pd.DataFrame({
    'Purchase Count': [len(myreader_males),len(myreader_females),len(myreader_others)],
    'Average Purchase Price': [average_male_purchase_price,average_female_purchase_price,average_other_purchase_price],
    'Total Purchase Value': [total_purchase_males,total_purchase_females,total_purchase_others],
    'Average Total Purchase Per Person': [myreader_males_average_price, myreader_females_average_price, myreader_others_average_price]
}, columns=['Purchase Count', 'Average Purchase Price', 'Total Purchase Value','Average Total Purchase Per Person'])
df_purchasing_analysis_by_gender.index = ['Male', 'Female', 'Other']

#Format columns appropriately
df_purchasing_analysis_by_gender = df_purchasing_analysis_by_gender.style.format({
    'Average Purchase Price':'${0:,.2f}',
    'Total Purchase Value':'${0:,.2f}',
    'Average Total Purchase Per Person':'${0:,.2f}'
})
df_purchasing_analysis_by_gender

## Age Demographics
- Establish bins for ages
- Categorize the existing players using the age bins. Hint: use pd.cut()
- Calculate the numbers and percentages by age group
- Create a summary data frame to hold the results Optional: round the percentage column to two decimal points Display Age Demographics Table

In [78]:
# Establish bins for ages
bins = [0,9,14,19,24,29,34,39, 130]
labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# myreader.head

player_age_groups = pd.cut(total_count_players.Age,bins=bins,labels=labels)

pd.DataFrame(total_count_players)['Age Group'] = player_age_groups

total_count_players

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [87]:
# bins = [0,9,14,19,24,29,34,39, 130]
# labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Filtered by Age Group.  Calculations based on unique player list (no dupl)
range_under_10 = total_count_players.loc[total_count_players['Age Group'] == '<10']
range_10_14 = total_count_players.loc[total_count_players['Age Group'] == '10-14']
range_15_19 = total_count_players.loc[total_count_players['Age Group'] == '15-19']
range_20_24 = total_count_players.loc[total_count_players['Age Group'] == '20-24']
range_25_29 = total_count_players.loc[total_count_players['Age Group'] == '25-29']
range_30_34 = total_count_players.loc[total_count_players['Age Group'] == '30-34']
range_40 = total_count_players.loc[total_count_players['Age Group'] == '40+']

# Percentages by Age Group.  
percentage_under_10 =  len(range_under_10) / len(total_count_players) *100
percentage_10_14 = len(range_10_14) / len(total_count_players) *100
percentage_15_19 = len(range_15_19) / len(total_count_players) *100
percentage_20_24 = len(range_20_24) / len(total_count_players) *100
percentage_25_29 = len(range_25_29) / len(total_count_players) *100
percentage_30_34 = len(range_30_34) / len(total_count_players) *100
percentage_40 = len(range_40) / len(total_count_players) *100

age_group_counts =[
       len(range_under_10),
       len(range_10_14),
       len(range_15_19),
       len(range_20_24),
       len(range_25_29),
       len(range_30_34),
       len(range_40)]
           
age_group_counts

age_group_count_percentage = [
        percentage_under_10,
        percentage_10_14,
        percentage_15_19,
        percentage_20_24,
        percentage_25_29,
        percentage_30_34,
        percentage_40]
age_group_count_percentage


df_age_demographics=pd.DataFrame({
   'Total Count': age_group_counts,
   'Percentage of Players': age_group_count_percentage
})
df_age_demographics.index = labels
df_age_demographics = df_age_demographics.style.format({
   'Total Count':'{0:,.0f}',
   'Percentage of Players':'{0:,.2f}%'
})
df_age_demographics

ValueError: Length mismatch: Expected axis has 7 elements, new values have 8 elements