In [1]:
# Dependencies and Setup
import pandas as pd
import os 
import csv

# File to Load (Remember to Change These)
filepath = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
myreader = pd.read_csv(filepath, delimiter=",")

print (myreader.head)

<bound method NDFrame.head of      Purchase ID             SN  Age  Gender  Item ID  \
0              0        Lisim78   20    Male      108
1              1    Lisovynya38   40    Male      143
2              2     Ithergue48   24    Male       92
3              3  Chamassasya86   24    Male      100
4              4      Iskosia90   23    Male      131
..           ...            ...  ...     ...      ...
775          775     Aethedru70   21  Female       60
776          776         Iral74   21    Male      164
777          777     Yathecal72   20    Male       67
778          778        Sisur91    7    Male       92
779          779      Ennrian78   24    Male       50

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
775                                       Wolf   3.54
776                           Exiled Doomblade   1.63
777      Celeste, Incarnation of the Corrupted   3.46
778                               Final Critic   4.19
779                                       Dawn   4.60

[780 rows x 7 columns]>

---
## PLAYER COUNT
- Display the total number of players

In [2]:
#Player count df
purchase_data = myreader
# Calulates the total amount of uniqe players by removing the duplicates in the "SN" column
total_count_players = myreader.drop_duplicates('SN', keep='last')
total_count_players # this is a list 
total_players = len(total_count_players)
total_players #this is the length of that list represented as a #.  see output

df_total_players=pd.DataFrame({
    'Total Players': [total_players]
})
df_total_players

   Total Players
0            576

---
## Purchasing Analysis (Total)
- Run basic calculations to obtain number of unique items, average price, etc.
- Create a summary data frame to hold the results
- Optional: give the displayed data cleaner formatting
- Display the summary data frame

In [3]:
# Calculates the total number of unique items by removing the duplicates in the "Item ID" column
total_count_item_id = myreader.drop_duplicates('Item ID', keep='last')
total_count_item_id 
total_unique_items = len(total_count_item_id)
total_unique_items

179

In [4]:
#Calculate the Average Price
average_price = myreader['Price'].mean()
average_price

3.0509871794871795

In [5]:
#Calculate the number of purchases
purchase_id_column = "Purchase ID"
number_of_purchases = len(myreader[purchase_id_column])
number_of_purchases

780

In [6]:
# Calculates the total revenue by summing row "Price"
price_column = "Price"
total_revenue = myreader[price_column].sum() 
total_revenue

2379.77

In [7]:
# Purchase analysis df

df_purchasing_analysis=pd.DataFrame({
    'Number of Unique Items': [total_unique_items],
    'Average Price': [average_price],
    'Number of Purchases': [number_of_purchases],
    'Total Revenue':[total_revenue]
}, columns=['Number of Unique Items', 'Average Price', 'Number of Purchases', 'Total Revenue'])

#Format money columns
df_purchasing_analysis = df_purchasing_analysis.style.format({
    'Average Price':'${0:,.2f}',
    'Total Revenue':'${0:,.2f}'
})
df_purchasing_analysis

---
## Gender Demographics
- Percentage and Count of Male Players
- Percentage and Count of Female Players
- Percentage and Count of Other / Non-Disclosed

In [8]:
# Calculates the total count of males in my dataset.  This was done after I removed all of the duplicate SN.
total_count_players.loc[(total_count_players['Gender'] == 'Male')]
filtered_males = total_count_players.loc[(total_count_players['Gender'] == 'Male')] 

total_males = len(filtered_males)
total_males   
percentage_males = (total_males/total_players)*100
percentage_males
print ("{:.2f}".format(percentage_males))

84.03

In [9]:
total_count_players.loc[total_count_players['Gender'] == 'Female']
filtered_females = total_count_players.loc[myreader['Gender'] == 'Female']

total_females = len(filtered_females)
total_females
percentage_females = (total_females/total_players)*100
percentage_females
print ("{:.2f}".format(percentage_females))

14.06

In [10]:
total_count_players.loc[~total_count_players['Gender'].str.contains('Male|Female', regex=True)]
filtered_other = total_count_players.loc[~total_count_players['Gender'].str.contains('Male|Female', regex=True)]

total_other = len(filtered_other)
total_other
percentage_other = (total_other/total_players)*100
percentage_other
print ("{:.2f}".format(percentage_other))

1.91

In [11]:
# Gender Analysis Display Summary df


df_gender_analysis=pd.DataFrame({
    'Total Count': [total_males, total_females, total_other],
    'Pecentage of Players': [percentage_males, percentage_females, percentage_other]
}, columns=['Total Count', 'Pecentage of Players'])
df_gender_analysis.index = ['Male', 'Female', 'Other / Non-Diclosed']

#Format columns 
df_gender_analysis = df_gender_analysis.style.format({
    'Total Count':'{0:,.0f}',
    'Pecentage of Players':'{0:,.2f}%'
})

df_gender_analysis

---
## Purchasing Analysis (Gender)
- Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
- Create a summary data frame to hold the results
- Optional: give the displayed data cleaner formatting
- Display the summary data frame

In [12]:
# Calculate Purchase Count By Gender - Males

male_purchase_count = len(myreader.loc[(myreader['Gender'] == 'Male')]['Purchase ID'])
male_purchase_count

652

In [13]:
# Calculate Purchase Count By Gender - Females

female_purchase_count = len(myreader.loc[(myreader['Gender'] == 'Female')]['Purchase ID'])
female_purchase_count

113

In [14]:
# Calculate Purchase Count By Gender - Other

other_purchase_count = len(myreader.loc[~myreader['Gender'].str.contains('Male|Female', regex=True)]['Price'])
other_purchase_count

15

In [15]:
# Calculate Average Purchase Price by Gender - Males
male_average_purchase_price = (myreader.loc[(myreader['Gender'] == 'Male')]['Price']).mean()
male_average_purchase_price

3.0178527607361967

In [16]:
# Calculate Average Purchase Price by Gender - Females
female_average_purchase_price = (myreader.loc[(myreader['Gender'] == 'Female')]['Price']).mean()
female_average_purchase_price

3.203008849557522

In [17]:
# Calculate Average Purchase Price by Gender - Other
other_average_purchase_price = (myreader.loc[~myreader['Gender'].str.contains('Male|Female', regex=True)])['Price'].mean()
other_average_purchase_price

3.3459999999999996

In [18]:
# Calculate Total Purchase Value By Gender - Males

male_total_purchase_value = myreader.loc[(myreader['Gender'] == 'Male')]['Price'].sum()
male_total_purchase_value

1967.64

In [19]:
# Calculate Total Purchase Value By Gender - Females

female_total_purchase_value = myreader.loc[(myreader['Gender'] == 'Female')]['Price'].sum()
female_total_purchase_value

361.94

In [20]:
# Calculate Total Purchase Value By Gender - Other

other_total_purchase_value = myreader.loc[~myreader['Gender'].str.contains('Male|Female', regex=True)]['Price'].sum()
other_total_purchase_value

50.19

In [21]:
#Calculate Average Total Purchase Value(per person) by Gender - Males

unique_male_purchases = myreader.drop_duplicates('SN', keep='last').loc[(myreader['Gender'] == 'Male')]['Purchase ID']
unique_male_purchase_count = len(unique_male_purchases)
male_avg_total_purchase_value_per_person = myreader.loc[(myreader['Gender'] == 'Male')]['Price'].sum() / unique_male_purchase_count
male_avg_total_purchase_value_per_person

4.065371900826446

In [22]:
#Calculate Average Total Purchase Value(per person) by Gender - Females

unique_female_purchases = myreader.drop_duplicates('SN', keep='last').loc[(myreader['Gender'] == 'Female')]['Purchase ID']
unique_female_purchase_count = len(unique_female_purchases)
female_avg_total_purchase_value_per_person = myreader.loc[(myreader['Gender'] == 'Female')]['Price'].sum() / unique_female_purchase_count
female_avg_total_purchase_value_per_person

4.468395061728395

In [23]:
#Calculate Average Total Purchase Value(per person) by Gender - Other

unique_other_purchases = myreader.drop_duplicates('SN', keep='last').loc[~myreader['Gender'].str.contains('Male|Female', regex=True)]['Purchase ID']
unique_other_purchase_count = len(unique_other_purchases)
other_avg_total_purchase_value_per_person = myreader.loc[~myreader['Gender'].str.contains('Male|Female', regex=True)]['Price'].sum() / unique_other_purchase_count
other_avg_total_purchase_value_per_person

4.5627272727272725

In [24]:
# Purchasing Analysis df

df_purchasing_analysis_by_gender=pd.DataFrame({
    'Purchase Count': [male_purchase_count,female_purchase_count,other_purchase_count],
    'Average Purchase Price': [male_average_purchase_price,female_average_purchase_price,other_average_purchase_price],
    'Total Purchase Value': [male_total_purchase_value,female_total_purchase_value,other_total_purchase_value],
    'Average Total Purchase Per Person': [male_avg_total_purchase_value_per_person,female_avg_total_purchase_value_per_person,other_avg_total_purchase_value_per_person]
}, columns=['Purchase Count', 'Average Purchase Price', 'Total Purchase Value','Average Total Purchase Per Person'])
df_purchasing_analysis_by_gender.index = ['Male', 'Female', 'Other / Non-Diclosed']

#Format columns 
df_purchasing_analysis_by_gender = df_purchasing_analysis_by_gender.style.format({
    'Average Purchase Price':'${0:,.2f}',
    'Total Purchase Value':'${0:,.2f}',
    'Average Total Purchase Per Person':'${0:,.2f}'
})
df_purchasing_analysis_by_gender

---
## Age Demographics
- Establish bins for ages
- Categorize the existing players using the age bins. Hint: use pd.cut()
- Calculate the numbers and percentages by age group
- Create a summary data frame to hold the results
Optional: round the percentage column to two decimal points
Display Age Demographics Table

In [25]:
# Establish bins for ages
bins = [0,9,14,19,24,29,34,39, 130]
labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Categorize players using the age bins

#making copy just in case
myreader_copy_unique_players=myreader.drop_duplicates('SN', keep='last')
myreader_copy_unique_players
player_age_groups = pd.cut(myreader_copy_unique_players.Age,bins=bins,labels=labels)
pd.DataFrame(myreader_copy_unique_players)['Age Group'] = player_age_groups
player_age_groups


# Calculate the numbers and percentages by age group

range_under_10_count = len(myreader_copy_unique_players.loc[(myreader_copy_unique_players['Age Group'] == '<10')])
range_10_to_14_count = len(myreader_copy_unique_players.loc[(myreader_copy_unique_players['Age Group'] == '10-14')])
range_15_to_19_count = len(myreader_copy_unique_players.loc[(myreader_copy_unique_players['Age Group'] == '15-19')])
range_20_to_24_count = len(myreader_copy_unique_players.loc[(myreader_copy_unique_players['Age Group'] == '20-24')])
range_25_to_29_count = len(myreader_copy_unique_players.loc[(myreader_copy_unique_players['Age Group'] == '25-29')])
range_30_to_34_count = len(myreader_copy_unique_players.loc[(myreader_copy_unique_players['Age Group'] == '30-34')])
range_35_to_39_count = len(myreader_copy_unique_players.loc[(myreader_copy_unique_players['Age Group'] == '35-39')])
range_40_plus_count = len(myreader_copy_unique_players.loc[(myreader_copy_unique_players['Age Group'] == '40+')])

total_player_count = len(myreader_copy_unique_players)

age_group_counts = [
       range_under_10_count,
       range_10_to_14_count,
       range_15_to_19_count,
       range_20_to_24_count,
       range_25_to_29_count,
       range_30_to_34_count,
       range_35_to_39_count,
       range_40_plus_count ]

age_group_count_percentage = [
       range_under_10_count / total_player_count * 100,
       range_10_to_14_count / total_player_count * 100,
       range_15_to_19_count / total_player_count * 100,
       range_20_to_24_count / total_player_count * 100,
       range_25_to_29_count / total_player_count * 100,
       range_30_to_34_count / total_player_count * 100,
       range_35_to_39_count / total_player_count * 100,
       range_40_plus_count / total_player_count * 100 ]

# Age Demographic df

df_age_demographics=pd.DataFrame({
   'Total Count': age_group_counts,
   'Percentage of Players': age_group_count_percentage
})
df_age_demographics.index = labels
df_age_demographics = df_age_demographics.style.format({
   'Total Count':'{0:,.0f}',
   'Percentage of Players':'{0:,.2f}%'
})
df_age_demographics

---
## Purchasing Analysis (Age)
- Bin the purchase_data data frame by age
- Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the - - table below
- Create a summary data frame to hold the results
- Optional: give the displayed data cleaner formatting
- Display the summary data frame

In [26]:
# Bin the purchase_data data frame by age


myreader_all_purchases = myreader

pd.DataFrame(myreader_all_purchases)['Age Group'] = pd.cut(myreader_all_purchases.Age,bins=bins,labels=labels)
myreader_all_purchases

# extract age group data for later
range_under_10_data = myreader_all_purchases.loc[(myreader_all_purchases['Age Group'] == '<10')]
range_10_to_14_data = myreader_all_purchases.loc[(myreader_all_purchases['Age Group'] == '10-14')]
range_15_to_19_data = myreader_all_purchases.loc[(myreader_all_purchases['Age Group'] == '15-19')]
range_20_to_24_data = myreader_all_purchases.loc[(myreader_all_purchases['Age Group'] == '20-24')]
range_25_to_29_data = myreader_all_purchases.loc[(myreader_all_purchases['Age Group'] == '25-29')]
range_30_to_34_data = myreader_all_purchases.loc[(myreader_all_purchases['Age Group'] == '30-34')]
range_35_to_39_data = myreader_all_purchases.loc[(myreader_all_purchases['Age Group'] == '35-39')]
range_40_plus_data = myreader_all_purchases.loc[(myreader_all_purchases['Age Group'] == '40+')]

# Run calculations to get data for my df

age_group_purchase_counts = [
    len(range_under_10_data['Purchase ID']),
    len(range_10_to_14_data['Purchase ID']),
    len(range_15_to_19_data['Purchase ID']),
    len(range_20_to_24_data['Purchase ID']),
    len(range_25_to_29_data['Purchase ID']),
    len(range_30_to_34_data['Purchase ID']),
    len(range_35_to_39_data['Purchase ID']),
    len(range_40_plus_data['Purchase ID'])
]

age_group_average_purchase_price = [
    range_under_10_data['Price'].mean(),
    range_10_to_14_data['Price'].mean(),
    range_15_to_19_data['Price'].mean(),
    range_20_to_24_data['Price'].mean(),
    range_25_to_29_data['Price'].mean(),
    range_30_to_34_data['Price'].mean(),
    range_35_to_39_data['Price'].mean(),
    range_40_plus_data['Price'].mean()
]

age_group_total_purchase_value = [
    range_under_10_data['Price'].sum(),
    range_10_to_14_data['Price'].sum(),
    range_15_to_19_data['Price'].sum(),
    range_20_to_24_data['Price'].sum(),
    range_25_to_29_data['Price'].sum(),
    range_30_to_34_data['Price'].sum(),
    range_35_to_39_data['Price'].sum(),
    range_40_plus_data['Price'].sum()
]

age_group_avg_total_per_person = [
    range_under_10_data['Price'].sum() / len(range_under_10_data.drop_duplicates('SN', keep='last')),
    range_10_to_14_data['Price'].sum() / len(range_10_to_14_data.drop_duplicates('SN', keep='last')),
    range_15_to_19_data['Price'].sum() / len(range_15_to_19_data.drop_duplicates('SN', keep='last')),
    range_20_to_24_data['Price'].sum() / len(range_20_to_24_data.drop_duplicates('SN', keep='last')),
    range_25_to_29_data['Price'].sum() / len(range_25_to_29_data.drop_duplicates('SN', keep='last')),
    range_30_to_34_data['Price'].sum() / len(range_30_to_34_data.drop_duplicates('SN', keep='last')),
    range_35_to_39_data['Price'].sum() / len(range_35_to_39_data.drop_duplicates('SN', keep='last')),
    range_40_plus_data['Price'].sum() / len(range_40_plus_data.drop_duplicates('SN', keep='last'))
]

In [27]:
# Purchasing Analysis Display Summary df

df_purchasing_analysis_by_age=pd.DataFrame({
    'Purchase Count': age_group_purchase_counts,
    'Average Purchase Price': age_group_average_purchase_price,
    'Total Purchase Value': age_group_total_purchase_value,
    'Average Total Purchase Per Person': age_group_avg_total_per_person
}, columns=['Purchase Count', 'Average Purchase Price', 'Total Purchase Value','Average Total Purchase Per Person'])
df_purchasing_analysis_by_age.index = labels

#Format columns 
df_purchasing_analysis_by_age = df_purchasing_analysis_by_age.style.format({
    'Average Purchase Price':'${0:,.2f}',
    'Total Purchase Value':'${0:,.2f}',
    'Average Total Purchase Per Person':'${0:,.2f}'
})
df_purchasing_analysis_by_age

---
## Top Spenders
- Run basic calculations to obtain the results in the table below
- Create a summary data frame to hold the results
- Sort the total purchase value column in descending order
- Optional: give the displayed data cleaner formatting
- Display a preview of the summary data frame

In [28]:

df_myreader_grouped_by_SN = pd.DataFrame(myreader).groupby(['SN']).agg({'Price': ['count', 'mean', sum]})
    
df_myreader_grouped_by_SN.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']

df_myreader_grouped_by_SN = df_myreader_grouped_by_SN.sort_values(by='Total Purchase Value' ,ascending= False)

df_myreader_grouped_by_SN

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10
...                     ...                     ...                   ...
Ililsasya43               1                1.020000                  1.02
Irilis75                  1                1.020000                  1.02
Aidai61                   1                1.010000                  1.01
Chanirra79                1                1.010000                  1.01
Alo38                     1                1.000000                  1.00

[576 rows x 3 columns]

In [29]:
# Top spenders Display Summary df

df_top_spenders= df_myreader_grouped_by_SN.head()


#Format columns 
df_top_spenders = df_top_spenders.style.format({
    'Average Purchase Price':'${0:,.2f}',
    'Total Purchase Value':'${0:,.2f}',
})
df_top_spenders

## Most Popular Items
- Retrieve the Item ID, Item Name, and Item Price columns
- Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value
- Create a summary data frame to hold the results
- Sort the purchase count column in descending order
- Optional: give the displayed data cleaner formatting
- Display a preview of the summary data frame

In [30]:
# Group data by agg columns from Item ID
df_myreader_grouped_by_ItemID = pd.DataFrame(myreader).groupby(['Item ID']).agg({
    'Item Name': 'first', 'Price': ['count', 'mean', sum]
})
df_myreader_grouped_by_ItemID.columns = ['Item Name','Purchase Count', 'Item Price', 'Total Purchase Value']
df_myreader_grouped_by_ItemID 

# setting to new variable
df_myreader_grouped_by_ItemID_and_purchase_count = df_myreader_grouped_by_ItemID.sort_values(by='Purchase Count' ,ascending= False)

In [31]:
# Most popular item Display Summary df

df_popular_items= df_myreader_grouped_by_ItemID_and_purchase_count.head()

#Format columns  
df_popular_items = df_popular_items.style.format({
    'Item Price':'${0:,.2f}',
    'Total Purchase Value':'${0:,.2f}',
})
df_popular_items

## Most Profitable Items
- Sort the above table by total purchase value in descending order
- Optional: give the displayed data cleaner formatting
- Display a preview of the data frame

In [32]:
# Most poular item Display Summary df

df_most_profitable_items= df_myreader_grouped_by_ItemID.sort_values(by='Total Purchase Value' ,ascending= False).head()

#Format columns 

df_most_profitable_items = df_most_profitable_items.style.format({
    'Item Price':'${0:,.2f}',
    'Total Purchase Value':'${0:,.2f}',
})
df_most_profitable_items